*{
    margin: 0;
    padding: 0;


    font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;



}

/*------------navbar-------------*/



nav{
    display: block;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
 }



 nav> div{
    flex: 1;
    text-align:center;
 }

 .navlinks> div> ul> li> a{
    text-decoration: none;
    font-size: 18px;
    color:bisque;
 }

 .navlinks> div> ul> li{
    display: inline-block;
    list-style: none;
    padding: 20px 30px;
 }



.s1{
    min-height: 100vh;
    width: 100%;

    background-image: url(ibrahim-rifath-Y6tBl0pTe-g-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}



#titleanim{
    width: 90%;
    position: absolute;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation:animationTitle 2s forwards ;
    color: black;
}

@keyframes animationTitle {
    from{top: 0%;}
    to{top: 35%;}
}


#titleanim>h1{
    font-size: 70px;
}

#titleanim>p{
    font-size: 16px;
    margin: 10px 0 40px;
}


/*-------------underlines--------------*/

.navlinks>div>ul>li::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: gainsboro;
    display: block;
    transition: 0.3s ease-in;
    pointer-events: none;
}

.navlinks>div>ul>li:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: gainsboro;
    display: block;
}